{% extends 'base.html' %}

{% block content %}
<div class="max-w-4xl mx-auto bg-white p-6 sm:p-8 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-6">Manage Reviews</h2>
    <div class="mt-6 space-y-6">
        {% for review in reviews %}
        <div class="border-b pb-4 flex flex-col sm:flex-row sm:justify-between items-start sm:items-center">
            <div class="sm:w-3/5">
                <h3 class="text-xl font-bold mb-2 sm:mb-0">{{ review.product.name }}</h3>
                <p class="text-gray-700 mb-2 sm:mb-0">User: {{ review.user.username }}</p>
                <p class="text-gray-700 mb-2 sm:mb-0">Rating: {{ review.rating }}</p>
                <p class="text-gray-700 mb-2 sm:mb-0">Comment: {{ review.comment }}</p>
            </div>
            <div class="flex space-x-4 mt-4 sm:mt-0">
                <a href="{% url 'delete_review' review.id %}" class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
                    Delete
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
